{% extends 'basic.html'%}
{% load static %}


{% block head %}
<!-- Home page CSS -->
<link href="{% static 'css/add.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
 <header class="bg">
    <div class="container center_div">
      <form class="form-inline" method="post">
        {% csrf_token %}
	  	 <div class="form-group mx-sm-3 mb-2">
	  	 	<label for="username"></label>
            <input type="name" class="form-control" id="username"  name="username" value="{{ current_name }}" placeholder="Type username">
	      </div>
	     <header>
  <div class="add-button">
    <div class="sub-button tl"></div>
    <div class="sub-button tr"></div>
    <div class="sub-button bl"></div>
    <div class="sub-button br"></div>
  </div>
</header>
	   </form>
    </div>
  
   



{% endblock %}