{% extends 'basic.html' %}
{% load static %}

{% block head %}
<!-- Home page CSS -->
<link href="{% static 'css/register.css' %}" rel="stylesheet">
<link href="{% static 'css/log.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<header class="bg">
  {% csrf_token %}
  <div class="container">
    <h1>LOGOUT</h1>
    <p>You are logged out</p>
    <hr>
     
     </div>
  <div class="text-center">
      <a href="{% url 'login' %}"><button type="submit" class="btn btn-outline-info">Login again!</button>
    </div></a> 
 </header>

{% endblock %}